<h1> Data Science Tools and Ecosystem <h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:


*   Python
*   R
*   Java
*   Julia

Some of the commonly used libraries used by Data Scientists include:


1.   Matplotlib
2.   Pandas
1.   TensorFlow
1.   Keras
2.   SciPy

| Data Science Tools |
| --- |    
| Jupyter Notebooks |
| Zeppelin Notebooks |  
|R Studio|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [1]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

**Objectives:**


*   List popular languages for Data Science
*   List popular libraries for Data Science
*   Create tables
*   Evaluate arithmetic expressions

<h2>Author<h2>

Beatriz Sanabria Barradas